<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="bluetooth">
      <ion-icon name="bluetooth-outline"></ion-icon>
      <ion-label>Bluetooth</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="vehiculo">
      <ion-icon name="car-sport-outline"></ion-icon>
      <ion-label>Vehiculo</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="store">
      <ion-icon name="storefront-outline"></ion-icon>
      <ion-label>Establecimiento</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>